PyMuPDF==1.23.7
pydantic==2.5.2
ftfy==6.1.3
python-dotenv==1.0.0
pydantic-settings==2.1.0
tabulate==0.9.0
pyspellchecker==0.7.2
ocrmypdf==15.4.4
nltk==3.8.1
thefuzz==0.20.0
scikit-learn==1.3.2
nougat-ocr
python-magic==0.4.27